project:
  type: website

website:
  title: "biostat777-intro-Yujie-Gong"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - href: about.qmd
        text: About
      - href: example-analysis.qmd
        text: Example Analysis

format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true


